*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:darkblue;
  --secondary-color:lightseagreen;
  --background-color:rgba(173, 216, 230, 0.15);
  --secondary-bgm-color:rgba(176, 196, 222, 0.568);
}

.logo-heading{
  color: var(--secondary-color);
 
}
.top-nav-main-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  /* height: 60px; */
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 100;
  margin: 10px;
  /* background-color: red; */
  padding-top: 15px;
}
.header-search-conatiner{
  display: flex;
  align-items: center;
  gap: 10rem;
}
.search-input-div{
  display: flex;
  align-items: center;
  gap: 1rem;
 width: 500px;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0,0,0,0.05);
padding: 0.7rem 1rem;

}
.search-input-div input{
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
 
  /* padding: 0.5rem 1rem; */
}
.search-bell-container{
  width: 100%;
  max-width: 470px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -40px;
}
.bell-icon,.plus-icon,.avatar-image{
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 0.7rem 1rem;
 
}
.plus-icon{
  background-color: var(--primary-color);
  color: white;
}
.bell-icon{
  color: var(--primary-color);
}
.avatar-image{
  background-color: var(--secondary-color);
 width: 48px;
 height: 45px;
 padding: 0;
}
.avatar-plus-container{
 display: flex;
 align-items: center;
 gap: 1rem;
}

/* ----responsive for top nav */

@media (max-width: 480px) {
  .top-nav-main-container{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 1rem;
    
  }
  .header-search-conatiner{
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .search-bell-container{
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    margin-left: 0;
    gap: 1rem;
  }
  .search-input-div{
    width: 60%;
  }
  .avatar-plus-container{
    /* align-self: center; */
    gap: 0.5rem;
    position: absolute;
    right: 5%;
    top: 70%;
  }
  .avatar-image{
    width: 40px;
    height: 40px;
  }
  .plus-icon,
  .bell-icon{
    padding: 0.5rem 0.7rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .top-nav-main-container{
    flex-direction: row;
   justify-content: space-between;
    padding: 10px 30px;
   
    
  }
  .header-search-conatiner{
    flex-direction: row;
    gap: 4rem;
   
  }
  .search-bell-container{
   width: auto;
    margin-left: -20px;
    
  }
  .search-input-div{
    width: 300px;
  }
  .avatar-plus-container{
   
    gap: 0.7rem;
   
  }
  .avatar-image{
    width: 44px;
    height: 44px;
  }

}
@media (min-width: 769px) {
  .top-nav-main-container{
    flex-direction: row;
   justify-content: space-between;
    padding: 0 50px;
   
    
  }
  .header-search-conatiner{
    flex-direction: row;
    gap: 10rem;
   
  }
  .search-bell-container{
   
    margin-left: -40px;
    
  }
  .search-input-div{
    width: 500px;
  }
  .avatar-plus-container{
   
    gap: 1rem;
   
  }

}


/* --------side-bar--------------- */
.side-bar-main-container{
  width: 17%;
  /* height: 100vh; */
  /* background-color: var(--background-color); */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 0 10px 10px;
  border-radius: 20px 0 0 20px;
overflow: hidden;
box-shadow: 2px 2px 5px var(--background-color);

}
.side-bar-main-container nav{
  /* background-color: whitesmoke; */
  background-color: var(--background-color);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;

}
.menu-section h5{
  margin-bottom: 0.6rem;
  color: gray;
  font-weight: 100;
}
.menu-section ul{
  list-style: none;
  padding-left: 0;
}
.menu-section ul li{
  display: flex;
  align-items: center;
  gap: 1rem;
 cursor: pointer;
  height: 45px;
  color: gray;
  font-weight: 100;
}
.first-li span{
  color: var(--primary-color);
  font-weight: 400;
}
.menu-section ul li span{
  display: flex;
  align-items: center;
 justify-content: center;
 
}

.menu-section{
  margin-top: 4.5rem;
}

.top-sections .menu-section:last-child{
  margin-top: 2.5rem;
}
.bottom-section .menu-section{
  margin:1.5rem -4rem;
  margin-top: 4.5rem;
}


/* ----responsive for side bar */
@media (max-width: 768px) {

  .side-bar-main-container{
    position: fixed;
    top: 0;
    left: 0;
    /* height: 100vh; */
    width: 100%;
    /* max-width: 260px; */
    margin: 0;
    border-radius: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    inset: 0;
    z-index: 1119;
    background-color: var(--primary-color);
    
  }
  .menu-section ul li,.first-li span,.menu-section h5{
    color: white;
  }
  .side-bar-main-container.open{
    transform: translateX(0%);
    
  }
  .side-bar-main-container.closed{
    transform: translateX(-100%);
   
  }
  
}
.three-bar-icon{
  display: none;
}
@media (max-width: 768px) {
  .three-bar-icon{
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color:var(--primary-color);
    margin-left: -10px;
    margin-top: 5px;
  }
  
}

/* ------------DASHBOARD ---main-content-container------- */
.main-content-container{
  margin-top: 85px;
  width: 100%;
  max-width: 470px;
  /* width: 35%; */
  /* background-color: red; */
  position: relative;
  /* margin: 85px auto 0 auto; */
  left: 23%;

}
.dash-weak-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 570px; */
 /* gap: 12rem; */
 width: 100%;
}
.dash-weak-div div{
  display: flex;
  align-items: center;
}
.dash-weak-div h2{
  color: var(--primary-color);
}
.dash-weak-div div { 
  margin: 0;
  line-height: 1;
  font-size: x-small;
  gap: 0.5rem;
  color: var(--primary-color);
}
.dash-weak-div div span svg{
 vertical-align: middle;
}

.human-body-image{
  width: 220px;
  height: 320px;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 1.5rem;
}
.body-parts-content-div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* align-items: center; */
  justify-content: start;
  background-color: var(--background-color);
  border-radius: 20px;
  padding:1rem;
  /* width: 100%; */
 max-width:300px;
 height: auto;
 margin: 5px;
 /* flex-shrink: 0; */
}
.empty-divs-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10px;
}
.empty-div{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}
.color-empty-div{
  background-color: tomato;
  width:76%;
  z-index: 10;
  border-radius: 10px 0 0 10px;
}
.common-empty-div{
  background-color: rgba(128, 128, 128, 0.418);
  width:25%;
  border-radius: 0 10px 10px 0;
}
.parts-heading-icon{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size:1.2rem ;
  font-weight: 500;
}
.dash-primary-div{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.date-span{
font-size: x-small;
color: rgba(128, 128, 128, 0.479);
font-weight: 100;
}
.arrow-div{
  display: flex;
  justify-content: end;
}
.arrow-div div span{
  display: flex;
gap: 0.2rem;
 
}
.bone{
  background-color: orange;
}
.kidneys{
  background-color: var(--secondary-color);
}
.human-body-image-container{
  position: relative;
  
}
.healthy-heart{
  position:absolute;
  top: 25%;
  right: -12%;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
}
.healthy-legs{
  position:absolute;
  top: 60%;
  left: -10%;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
}

.App{
  display: flex;
  
}
.main-content-right{
  background-color: var(--background-color);
  
  width: 100%;
  max-width: 500px;
  /* margin-top: 75px; */
  position: relative;
  left:27%;
  margin: 10px;
  border-radius:  0 20px 20px 0;
overflow: hidden;
padding: 20px;
padding-top: 80px;
box-shadow: 2px 2px 5px var(--background-color);

}



/* -----dashborad responsive------------ */

@media (max-width: 768px) {
  .main-content-container{
margin-top: 220px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .human-body-image{
    width: 100%;
    height: auto;
  }
  .healthy-heart,.healthy-legs{
    font-size: 0.6rem;
    padding: 0.3rem;
  }
  .healthy-heart{
    position: absolute;
    right: 20%;
   
  }
  .healthy-legs{
    position: absolute;
    left: 25%;
   
  }
  .body-three-divs-container{
    display: flex;
  }
  .body-parts-content-div{
    width: 100%;
    max-width: 100%;
  }
  .App{
    display: flex;
    flex-direction: column;
  }
}

/* ----------calender----------------- */
.dash-weak-div span{
  color: var(--primary-color);
  font-weight: 500;
  padding-inline: 18px;
}
.calender-main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 2.4rem; */
  margin-bottom: 0.5rem;
  /* background-color: red; */
 
}
.schedule-column-div{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
  margin: 0;
}
.schedule-column-div div{
  padding: 5px 14px;
margin: 0;
}

.date-div{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.2rem;
}
.day-div{
  color: var(--primary-color);
  font-weight: 500;
  font-size: small;
}
.time-div{
  font-size: small;
  color: var(--primary-color);
  font-weight: 400;
}
.tuesday-div{
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 5px 10px;
}
.bgm-time{
  background-color: var(--primary-color);
  color: white;
  border-radius:10px;
}
.light-bgm{
  background-color: rgba(119, 136, 153, 0.6);
  color: white;
  border-radius:10px;
  display: flex;
 flex-direction: column;
 /* flex-wrap: wrap; */
 align-items: center;
 /* height: 33px; */
 position: relative;
 z-index: 1;
}
.light-bgv-sun{
  background-color: rgba(119, 136, 153, 0.6);
  color: white !important;
  border-radius:0 10px 10px 0;
  display: flex;
 flex-direction: column;
 /* flex-wrap: wrap; */
 align-items: center;
 /* height: 33px; */
 position: relative;
 z-index: 1;
}
.light-bgv-sat{
  background-color: rgba(119, 136, 153, 0.6);
  color: white;
  border-radius: 10px 0 0 10px;
 display: flex;
 flex-direction: column;
 /* flex-wrap: wrap; */
 align-items: center;
 /* height: 33px; */
 position: relative;
 z-index: 1;
}
.dot-span{
 position: absolute;
 bottom: 0;

}

.sunday-div div{
  color: rgba(119, 136, 153, 0.7);
}

.right-side-boxes-div{
  padding: 12px 25px;
  /* background-color: rgba(176, 196, 222, 0.568); */
  background-color: var(--primary-color);
  border-radius: 20px;
  color: white;
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */
  font-size: small;
}
.right-name-icon-div{
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  margin-bottom: 0.3rem;
}
/* .right-name-icon-div span:nth-last-child(1){
  color: var(--primary-color);
  color: darkred;
} */
.calender-dentist-container-main{
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}
.physiotherapy-div{
  background-color: var(--secondary-bgm-color);
  color: black;
}
.schedule-day-head{
  margin-block: 0.5rem;
  font-size: small;
  font-weight: 400;
}
.dentist-main-div{
  background-color: var(--primary-color) !important;
  color: white;
  

} 
.dentist-main-div .right-name-icon-div{
  display: flex;
  justify-content: space-between !important;
}

@media (max-width:768px) {
 
  /* .schedule-column-div div{
    padding: 2px 4px;
    margin: 0;
  } */
 
  .calender-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main-content-right{
    width: 100%;
   background-color: transparent;
   border: 0;
   box-shadow: none;
   display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
left: 18%;

  }
}

/* -------------------Activity Container------------- */
.activity-container{
  background-color: red;
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  /* width: fit-content; */
}

.activity-heading{
  display: flex;
  justify-content: space-between;
}


.graph-container{
  display: flex;
  gap: 0.5rem;
  /* padding-inline: 0.3rem; */
  padding: 0.5rem;
  margin-top: 5px;
  /* background-color: red; */
  
}

.pole{
  /* width: 0.3rem; */
  border-radius: 4px;
}
.graph-container > * {
  width: 4px;
}
.long-pole-bar{
  height: 78px;
}
.medium-pole-bar{
  height: 35px;
  
}
.short-pole-bar{
  height: 15px;
}
.small-pole-bar{
  height: 25px;
 
}
.gray-color{
  background-color: rgba(119, 136, 153, 0.5);
 
}
.short-double-pole-container div{
  margin-block: 5px;
}
.medium-double-pole-container{
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.primary-color{
  background-color: var(--primary-color);
}
.secondary-color{
  background-color: var(--secondary-color);
}
.second-pole{
  margin-block: 21.5px;
}
.third-pole{
  margin-top: 27px;
}
.fourth-pole{
  margin-top: 53px;
}

.days-div-activity{
  display: flex;
  gap: 2rem;
  padding-inline: 1.2rem;
  color: lightslategray;
  font-size: small;
}
.appoint-span{
  font-size: small;
}